---
layout: default
---
<link rel="icon" href="/assets/images/icon.png">
<style>

h1{
font-family: 'Qwigley', cursive !important;
font-size: 4.5em;
text-decoration: none !important;
color: white;
}

section {
	color: #777;
	line-height: 1.8;
	font-size: 1em;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 300 !important;
}
.text-center-1 {
	text-align: center;
	padding-top: 70px;
}

@media only screen and (max-width: 500px) {
    .text-center-1 {
        padding-top: 0px;
    }
}

</style>

<section class="bg-dark">

	<div class="text-center-1">
		<h1>{{ page.title }}</h1>
	</div>

</section>

{{ content }}

<!-- Add Google Maps -->
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 43.0731, lng:  -89.4012},
      zoom: 12
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzkhmnhSldnmEr7U32QYKBOwnAgGJxO8I&callback=initMap"
async defer>
</script>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
